.white-text {
    color: white;
}

.center {
    align-items: center;
    justify-content: center;
    text-align: center;
}

a {
    list-style-type: none;
    text-decoration: none;
}

/* image slider */

.img-slider {
    width: 100%;
    height: 464px;
    margin: auto;
    position: relative;
    top: 75px;
    overflow: hidden;
}

.list {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: max-content;
    transition: 1s;
}

.list img {
    object-fit: cover;
}

.dots {
    position: relative;
    color: white;
    width: 100%;
    top: 72px;
    padding: 0;
    display: flex;
    justify-content: center;
}

.dots li {
    list-style-type: none;
    width: 10px;
    height: 10px;
    background-color: black;
    margin: 20px;
    border-radius: 20px;
    transition: 1s;
}

.dots li.active {
    width: 30px;
}

/* layout setting */

.main {
    display: grid;
    grid-template-columns: 2fr 10fr 2fr;
    position: relative;
    top: 60px;
}

.content {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.flex {
    display: flex;
    flex-direction: column;
}